.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        = @group.name
      %ul.main-header__left-box__member-list 
        %li.main-header__left-box__member-list__member
          Member：
          - @group.users.each do |user|
            = user.name
    = link_to edit_group_path(@group.id), class: "main-header__edit-btn" do
      Edit
  .messages
    = render partial: 'message', collection: @messages
    .message
      .message__upper-info
        %p.message__upper-info__talker test１
        %p.message__upper-info__date 2019/11/21(Thu) 09:34:18
      %p.message__text eat
      
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'input-box', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'submit-btn'