.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        = @group.name
      %ul.main-header__left-box__member-list 
        %li.main-header__left-box__member-list__member
          Member：
          - @group.users.each do |user|
            = user.name
    = link_to edit_group_path(@group.id), class: "main-header__edit-btn" do
      Edit
  .messages
    = render partial: 'message', collection: @messages
    
  .bottom-content
    .submit
    = form_for [@group, @message], html: { class: "form js-message" } do |f|
      = f.text_field :content, class: "submit__content js-form__text-field", placeholder: 'type a message'
      %label.chat-footer__file
        = icon('fas', 'image', class: 'icon')
        = f.file_field :image, class: 'hidden'
      = f.submit "Send", class: "submit__btn", name: "Commit"    